requests
beautifulsoup4
pinecone
google
langchain
langchain-community
pypdf
sentence_transformers
pdfminer.six
PyMuPDF
protobuf
google-api-python-client
grpcio
rank_bm25
python-dotenv
streamlit
google-generativeai
google.genai